node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/Pods/
ios/build/
ios/.xcode.env.local
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/
macos/build/
*.xcuserstate
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

macos/.xcode.env.local
